.cube-icon::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/images/cube.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    vertical-align: middle;
}

.rocket-icon::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/images/rocket.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    vertical-align: middle;
}

.file-icon::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/images/file.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    vertical-align: middle;
}

.starburst-icon::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/images/starburst.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    vertical-align: middle;
}

.wrench-icon::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/images/wrench.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    vertical-align: middle;
}

.connections-icon::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/images/connections.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    vertical-align: middle;
}

.buildings-icon::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/images/buildings.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    vertical-align: middle;
}

.book-icon::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/images/book.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    vertical-align: middle;
}

.change-icon::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/images/change.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    vertical-align: middle;
}

.sql-icon::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/images/sql.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    vertical-align: middle;
}

/* Second level navigation text styles - group headers and direct links */
.sidebar-content .top-level li details ul > li > a > span,
.sidebar-content .top-level li details summary span {
  font-family: 'AeonikFono', sans-serif !important;
  font-size: 15px !important;
  font-weight:500;
  color: var(--gray-neutral-400) !important;
}

/* Third level navigation text styles */
.sidebar-content .top-level li details ul li details ul li a span {
  font-size: 14px !important;
  color: var(--gray-neutral-500) !important;
  font-weight: normal !important;
}

.sidebar-content .top-level > li .large {
    font-family: 'AeonikFono', sans-serif;
    font-size: 16px !important;
    font-weight:500;
    line-height: 1.0;
    color: var(--gray-neutral-400);
    letter-spacing: -0.15%;
}

select.astro-oojz3yon {
    border-radius: 6px;
    border: 1px solid #999CAD;
    color: var(--gray-neutral-400);
    font-family: 'Aeonikpro', sans-serif;
    font-size: 18px;
}