# LocalStack Redirect Test Report
**Generated:** 2025-06-30 23:32:43
**Staging URL:** https://redirects.localstack-docs.pages.dev

## Summary
- **Total tests:** 400
- **Passed:** 380 ✅
- **Failed:** 20 ❌
- **Success rate:** 95.0%

## Failed Tests
### AWS: /academy/localstack-101/what-is-localstack/
- **Expected:** https://youtu.be/B2EML5L3-tw?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=B2EML5L3-tw&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/B2EML5L3-tw?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=B2EML5L3-tw&feature=youtu.be

### AWS: /applications/note-taking-application-using-aws-sdk-for-javascript/
- **Expected:** https://github.com/localstack-samples/aws-sdk-js-notes-app
- **Got:** https://github.com/localstack-samples/sample-notes-app-dynamodb-lambda-apigateway
- **Status:** 200
- **Message:** ❌ Expected: https://github.com/localstack-samples/aws-sdk-js-notes-app, Got: https://github.com/localstack-samples/sample-notes-app-dynamodb-lambda-apigateway

### AWS: /academy/localstack-101/course-overview/
- **Expected:** https://youtu.be/VLL-BI1AWcc?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=VLL-BI1AWcc&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/VLL-BI1AWcc?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=VLL-BI1AWcc&feature=youtu.be

### AWS: /applications/serverless-microservices-with-amazon-api-gateway-dynamodb-sqs-and-lambda/
- **Expected:** https://github.com/localstack-samples/microservices-apigateway-lambda-dynamodb-sqs-sample
- **Got:** https://github.com/localstack-samples/sample-microservices-apigateway-lambda-dynamodb-sqs
- **Status:** 200
- **Message:** ❌ Expected: https://github.com/localstack-samples/microservices-apigateway-lambda-dynamodb-sqs-sample, Got: https://github.com/localstack-samples/sample-microservices-apigateway-lambda-dynamodb-sqs

### AWS: /academy/localstack-deployment/infra-cloudformation/
- **Expected:** https://youtu.be/K0OgQ5eq588?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=K0OgQ5eq588&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/K0OgQ5eq588?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=K0OgQ5eq588&feature=youtu.be

### AWS: /academy/localstack-deployment/iam-policy-stream/
- **Expected:** https://youtu.be/TOBLG2Z6xAM?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=TOBLG2Z6xAM&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/TOBLG2Z6xAM?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=TOBLG2Z6xAM&feature=youtu.be

### AWS: /academy/localstack-deployment/ls-integrations/
- **Expected:** https://youtu.be/YV0Zs6UNI9I
- **Got:** https://www.youtube.com/watch?v=YV0Zs6UNI9I&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/YV0Zs6UNI9I, Got: https://www.youtube.com/watch?v=YV0Zs6UNI9I&feature=youtu.be

### AWS: /academy/localstack-101/
- **Expected:** https://youtube.com/playlist?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&si=rKhzdxOJsfO_pgyk
- **Got:** https://www.youtube.com/playlist?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&si=rKhzdxOJsfO_pgyk
- **Status:** 200
- **Message:** ❌ Expected: https://youtube.com/playlist?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&si=rKhzdxOJsfO_pgyk, Got: https://www.youtube.com/playlist?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&si=rKhzdxOJsfO_pgyk

### AWS: /applications/event-driven-architecture-with-amazon-sns-fifo-dynamodb-lambda-and-s3/
- **Expected:** https://github.com/localstack-samples/event-driven-architecture-with-amazon-sns-fifo
- **Got:** https://github.com/localstack-samples/sample-sam-sns-fifo-dynamodb-lambda
- **Status:** 200
- **Message:** ❌ Expected: https://github.com/localstack-samples/event-driven-architecture-with-amazon-sns-fifo, Got: https://github.com/localstack-samples/sample-sam-sns-fifo-dynamodb-lambda

### AWS: /applications/loan-broker-application-with-aws-step-functions-dynamodb-lambda-sqs-and-sns/
- **Expected:** https://github.com/localstack-samples/loan-broker-stepfunctions-lambda-app
- **Got:** https://github.com/localstack-samples/sample-loan-broker-stepfunctions-lambda
- **Status:** 200
- **Message:** ❌ Expected: https://github.com/localstack-samples/loan-broker-stepfunctions-lambda-app, Got: https://github.com/localstack-samples/sample-loan-broker-stepfunctions-lambda

### AWS: /academy/localstack-101/cloud-pods/
- **Expected:** https://youtu.be/InqTdSvxuag?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=InqTdSvxuag&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/InqTdSvxuag?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=InqTdSvxuag&feature=youtu.be

### AWS: /academy/localstack-101/why-localstack/
- **Expected:** https://youtu.be/EDGIBpUpYWU?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=EDGIBpUpYWU&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/EDGIBpUpYWU?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=EDGIBpUpYWU&feature=youtu.be

### AWS: /academy/localstack-deployment/course-overview/
- **Expected:** https://youtu.be/XDIat6laW28?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=XDIat6laW28&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/XDIat6laW28?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=XDIat6laW28&feature=youtu.be

### AWS: /academy/localstack-deployment/infra-terraform/
- **Expected:** https://youtu.be/lsF3kewOeBU?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=lsF3kewOeBU&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/lsF3kewOeBU?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=lsF3kewOeBU&feature=youtu.be

### AWS: /academy/localstack-deployment/
- **Expected:** https://youtube.com/playlist?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&si=R-Ed-JQKOxXP473O
- **Got:** https://www.youtube.com/playlist?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&si=R-Ed-JQKOxXP473O
- **Status:** 200
- **Message:** ❌ Expected: https://youtube.com/playlist?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&si=R-Ed-JQKOxXP473O, Got: https://www.youtube.com/playlist?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&si=R-Ed-JQKOxXP473O

### AWS: /academy/localstack-deployment/deploy-app-ls/
- **Expected:** https://youtu.be/qIB79b-iw2U?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=qIB79b-iw2U&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/qIB79b-iw2U?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=qIB79b-iw2U&feature=youtu.be

### AWS: /academy/localstack-deployment/github-action-ls/
- **Expected:** https://youtu.be/XNh8aSaT9v0?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=XNh8aSaT9v0&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/XNh8aSaT9v0?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=XNh8aSaT9v0&feature=youtu.be

### AWS: /academy/localstack-101/web-app-resource-browser/
- **Expected:** https://youtu.be/SoXtngYp-8k?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=SoXtngYp-8k&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/SoXtngYp-8k?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=SoXtngYp-8k&feature=youtu.be

### AWS: /academy/localstack-101/full-project-demo/
- **Expected:** https://youtu.be/cQxg3Dnteyc?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=cQxg3Dnteyc&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/cQxg3Dnteyc?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=cQxg3Dnteyc&feature=youtu.be

### AWS: /academy/localstack-deployment/cloud-pods/
- **Expected:** https://youtu.be/ZJP2xfvwR_g?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Got:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=ZJP2xfvwR_g&feature=youtu.be
- **Status:** 200
- **Message:** ❌ Expected: https://youtu.be/ZJP2xfvwR_g?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=ZJP2xfvwR_g&feature=youtu.be

## All Test Details
### ✅ AWS: /legal/third-party-software-tools/
- **Expected:** /aws/legal/third-party-software-tools
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/legal/third-party-software-tools/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_elb/
- **Expected:** /aws/services/elb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/elb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/batch/
- **Expected:** /aws/services/batch
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/batch/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_scheduler/
- **Expected:** /aws/services/scheduler
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/scheduler/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/extensions/
- **Expected:** /aws/capabilities/extensions
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/extensions
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/s3-static-website-terraform/
- **Expected:** /aws/tutorials/s3-static-website-terraform
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/s3-static-website-terraform/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_rds-data/
- **Expected:** /aws/services/rds
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/rds/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_ec2/
- **Expected:** /aws/services/ec2
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ec2/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/licensing/
- **Expected:** /aws/licensing
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/licensing/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /legal/
- **Expected:** /aws/legal/third-party-software-tools
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/legal/third-party-software-tools/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_iotwireless/
- **Expected:** /aws/services/iotwireless
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/iotwireless/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_mwaa/
- **Expected:** /aws/services/mwaa
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/mwaa/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/amazon-rds-initialization-using-cdk-lambda-ecr-and-secrets-manager/
- **Expected:** https://github.com/localstack-samples/amazon-rds-init-cdk
- **Final URL:** https://github.com/localstack-samples/amazon-rds-init-cdk
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_pipes/
- **Expected:** /aws/services/pipes
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/pipes/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/state-management/persistence/
- **Expected:** /aws/capabilities/state-management/persistence
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/state-management/persistence/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_mq/
- **Expected:** /aws/services/mq
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/mq/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-101/what-is-localstack/
- **Expected:** https://youtu.be/B2EML5L3-tw?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=B2EML5L3-tw&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/B2EML5L3-tw?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=B2EML5L3-tw&feature=youtu.be

### ✅ AWS: /references/coverage/coverage_xray/
- **Expected:** /aws/services/xray
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/xray/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_cognito-identity/
- **Expected:** /aws/services/cognito
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cognito/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/ecs/
- **Expected:** /aws/services/ecs
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ecs/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/usage-tracking/
- **Expected:** /aws/capabilities/config/usage-tracking
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/usage-tracking/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/dms/
- **Expected:** /aws/services/dms
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/dms/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_managedblockchain/
- **Expected:** /aws/services/managedblockchain
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/managedblockchain/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/search-application-with-lambda-kinesis-firehose-elasticsearch-s3/
- **Expected:** https://github.com/localstack-samples/sample-fuzzy-movie-search-lambda-kinesis-elasticsearch
- **Final URL:** https://github.com/localstack-samples/sample-fuzzy-movie-search-lambda-kinesis-elasticsearch
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/regions-coverage/
- **Expected:** /aws/capabilities/config/regions-coverage/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/regions-coverage/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/elb-load-balancing/
- **Expected:** /aws/tutorials/elb-load-balancing
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/elb-load-balancing/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/docker-images/
- **Expected:** /aws/capabilities/config/docker-images
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/docker-images/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/eks/
- **Expected:** /aws/services/eks
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/eks/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/appsync-graphql-apis-for-dynamodb-and-rds-aurora-postgresql/
- **Expected:** https://github.com/localstack-samples/appsync-graphql-api-sample
- **Final URL:** https://github.com/localstack-samples/appsync-graphql-api-sample
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/cloudfront/
- **Expected:** /aws/services/cloudfront
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cloudfront/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /applications/note-taking-application-using-aws-sdk-for-javascript/
- **Expected:** https://github.com/localstack-samples/aws-sdk-js-notes-app
- **Final URL:** https://github.com/localstack-samples/sample-notes-app-dynamodb-lambda-apigateway
- **Status Code:** 200
- **Message:** ❌ Expected: https://github.com/localstack-samples/aws-sdk-js-notes-app, Got: https://github.com/localstack-samples/sample-notes-app-dynamodb-lambda-apigateway

### ✅ AWS: /user-guide/state-management/export-import-state/
- **Expected:** /aws/capabilities/state-management/export-import-state
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/state-management/export-import-state/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_s3control/
- **Expected:** /aws/services/s3
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/s3/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/custom-tls-certificates/
- **Expected:** /aws/capabilities/security-testing/custom-tls-certificates
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/security-testing/custom-tls-certificates/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_codecommit/
- **Expected:** /aws/services/codecommit
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/codecommit/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/localstack-enterprise/enterprise-image/
- **Expected:** /aws/enterprise/enterprise-image
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/enterprise/enterprise-image/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/testing-utils/
- **Expected:** /aws/tooling/testing-utils
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/testing-utils/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/codedeploy/
- **Expected:** /aws/services/codedeploy
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/codedeploy/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_serverlessrepo/
- **Expected:** /aws/services/serverlessrepo
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/serverlessrepo/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/resource_groups/
- **Expected:** /aws/services/resource_groups
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/resource_groups
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_glue/
- **Expected:** /aws/services/glue
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/glue/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/ssm/
- **Expected:** /aws/services/ssm
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ssm/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_sts/
- **Expected:** /aws/services/sts
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/sts/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-101/course-overview/
- **Expected:** https://youtu.be/VLL-BI1AWcc?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=VLL-BI1AWcc&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/VLL-BI1AWcc?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=VLL-BI1AWcc&feature=youtu.be

### ✅ AWS: /user-guide/aws/iotwireless/
- **Expected:** /aws/services/iotwireless
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/iotwireless/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/sdks/python/
- **Expected:** /aws/integrations/aws-sdks/net/python
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-sdks/net/python
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/crossplane/
- **Expected:** /aws/integrations/infrastructure-as-code/crossplane
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/infrastructure-as-code/crossplane/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_elbv2/
- **Expected:** /aws/services/elb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/elb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/openshift/
- **Expected:** /aws/integrations/containers/openshift
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/containers/openshift/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/memorydb/
- **Expected:** /aws/services/memorydb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/memorydb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/devcontainers/
- **Expected:** /aws/integrations/containers/devcontainers
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/containers/devcontainers/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_secretsmanager/
- **Expected:** /aws/services/secretsmanager
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/secretsmanager/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/ci/travis-ci/
- **Expected:** /aws/integrations/continuous-integration/travis-ci
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/continuous-integration/travis-ci/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /applications/serverless-microservices-with-amazon-api-gateway-dynamodb-sqs-and-lambda/
- **Expected:** https://github.com/localstack-samples/microservices-apigateway-lambda-dynamodb-sqs-sample
- **Final URL:** https://github.com/localstack-samples/sample-microservices-apigateway-lambda-dynamodb-sqs
- **Status Code:** 200
- **Message:** ❌ Expected: https://github.com/localstack-samples/microservices-apigateway-lambda-dynamodb-sqs-sample, Got: https://github.com/localstack-samples/sample-microservices-apigateway-lambda-dynamodb-sqs

### ✅ AWS: /user-guide/lambda-tools/
- **Expected:** /aws/tooling/lambda-tools
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/lambda-tools/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/aws-cdk/
- **Expected:** /aws/integrations/aws-native-tools/aws-cdk
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-native-tools/aws-cdk/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/podman/
- **Expected:** /aws/capabilities/config/podman
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/podman/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_memorydb/
- **Expected:** /aws/services/memorydb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/memorydb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/former2/
- **Expected:** /aws/integrations/infrastructure-as-code/former2
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/infrastructure-as-code/former2/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/localstack-enterprise/k8s-operator/
- **Expected:** /aws/enterprise/k8s-operator
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/enterprise/k8s-operator/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/aws-cli/
- **Expected:** /aws/integrations/aws-native-tools/aws-cli
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-native-tools/aws-cli/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_kinesisanalyticsv2/
- **Expected:** /aws/services/apacheflink
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/apacheflink/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_amplify/
- **Expected:** /aws/services/amplify
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/amplify/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/events/
- **Expected:** /aws/services/events
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/events/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/pipes/
- **Expected:** /aws/services/pipes
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/pipes/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/ci/circle-ci/
- **Expected:** /aws/integrations/continuous-integration/circle-ci
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/continuous-integration/circle-ci
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/network-troubleshooting/transparent-endpoint-injection/
- **Expected:** /aws/capabilities/networking/transparent-endpoint-injection
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/networking/transparent-endpoint-injection/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_kafka/
- **Expected:** /aws/services/msk
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/msk/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_servicediscovery/
- **Expected:** /aws/services/servicediscovery
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/servicediscovery/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_apigateway/
- **Expected:** /aws/services/apigateway
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/apigateway/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/
- **Expected:** /aws/tutorials
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_kinesis/
- **Expected:** /aws/services/kinesis
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/kinesis/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_autoscaling/
- **Expected:** /aws/services/autoscaling
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/autoscaling/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_kms/
- **Expected:** /aws/services/kms
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/kms/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/step-up-authentication-using-amazon-cognito/
- **Expected:** https://github.com/localstack-samples/step-up-auth-sample
- **Final URL:** https://github.com/localstack-samples/step-up-auth-sample
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_athena/
- **Expected:** /aws/services/athena
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/athena/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/mediastore/
- **Expected:** /aws/services/mediastore
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/mediastore/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_fis/
- **Expected:** /aws/services/fis
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/fis/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/logs/
- **Expected:** /aws/services/cloudwatchlogs
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cloudwatchlogs/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-deployment/infra-cloudformation/
- **Expected:** https://youtu.be/K0OgQ5eq588?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=K0OgQ5eq588&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/K0OgQ5eq588?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=K0OgQ5eq588&feature=youtu.be

### ✅ AWS: /user-guide/cloud-sandbox/
- **Expected:** /aws/capabilities/cloud-sandbox
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/cloud-sandbox/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/localstack-enterprise/ci-analytics/
- **Expected:** /aws/enterprise/ci-analytics
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/enterprise/ci-analytics/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/changelog/
- **Expected:** /aws/changelog
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/changelog/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/credentials/
- **Expected:** /aws/capabilities/config/credentials
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/credentials/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_elasticbeanstalk/
- **Expected:** /aws/services/elasticbeanstalk
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/elasticbeanstalk/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/web-application/instance-management/
- **Expected:** /aws/capabilities/web-app/instance-management
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/web-app/instance-management/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_qldb/
- **Expected:** /aws/services/qldb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/qldb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-deployment/iam-policy-stream/
- **Expected:** https://youtu.be/TOBLG2Z6xAM?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=TOBLG2Z6xAM&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/TOBLG2Z6xAM?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=TOBLG2Z6xAM&feature=youtu.be

### ✅ AWS: /references/cross-account-access/
- **Expected:** /aws/capabilities/config/cross-account-access
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/cross-account-access/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/reproducible-machine-learning-cloud-pods/
- **Expected:** /aws/tutorials/reproducible-machine-learning-cloud-pods
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/reproducible-machine-learning-cloud-pods/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_ecs/
- **Expected:** /aws/services/ecs
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ecs/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_acm/
- **Expected:** /aws/services/acm
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/acm/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_cloudtrail/
- **Expected:** /aws/services/cloudtrail
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cloudtrail/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/
- **Expected:** /aws/services/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/lambda-provider-v2/
- **Expected:** /aws/services/lambda
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/lambda/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/web-application/ci-keys/
- **Expected:** /aws/capabilities/web-app/ci-keys
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/web-app/ci-keys
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-deployment/ls-integrations/
- **Expected:** https://youtu.be/YV0Zs6UNI9I
- **Final URL:** https://www.youtube.com/watch?v=YV0Zs6UNI9I&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/YV0Zs6UNI9I, Got: https://www.youtube.com/watch?v=YV0Zs6UNI9I&feature=youtu.be

### ✅ AWS: /references/coverage/coverage_appconfigdata/
- **Expected:** /aws/services/appconfig
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/appconfig/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/serverless-image-resizer-with-aws-lambda-s3-sns-and-ses/
- **Expected:** https://github.com/localstack-samples/serverless-image-resizer
- **Final URL:** https://github.com/localstack-samples/serverless-image-resizer
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/security-testing/
- **Expected:** /aws/capabilities/security-testing/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/security-testing/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/applicationautoscaling/
- **Expected:** /aws/services/appautoscaling
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/appautoscaling/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/bedrock/
- **Expected:** /aws/services/bedrock
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/bedrock/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/sts/
- **Expected:** /aws/services/sts
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/sts/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/docdb/
- **Expected:** /aws/services/docdb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/docdb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/transparent-endpoint-injection/
- **Expected:** /aws/capabilities/networking/transparent-endpoint-injection
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/networking/transparent-endpoint-injection/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/account/
- **Expected:** /aws/services/account
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/account/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_efs/
- **Expected:** /aws/services/efs
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/efs/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/localstack-enterprise/
- **Expected:** /aws/enterprise/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/enterprise/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /getting-started/auth-token/
- **Expected:** /aws/getting-started/auth-token
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/getting-started/auth-token/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/localstack-enterprise/enterprise-support/
- **Expected:** /aws/enterprise/enterprise-support
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/enterprise/enterprise-support/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/support/
- **Expected:** /aws/services/support
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/support/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_resourcegroupstaggingapi/
- **Expected:** /aws/services/resourcegroups
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/resourcegroups/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/external-ports/
- **Expected:** /aws/capabilities/networking/external-port-range
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/networking/external-port-range/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_ce/
- **Expected:** /aws/services/ce
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ce/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/extensions/getting-started/
- **Expected:** /aws/tooling/extensions/getting-started
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/extensions/getting-started/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/sdks/
- **Expected:** /aws/integrations/aws-sdks/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-sdks/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/localstack-enterprise/single-sign-on/azure-ad/
- **Expected:** /aws/enterprise/sso/azure-ad
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/enterprise/sso/azure-ad/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/localstack-desktop/
- **Expected:** /aws/capabilities/web-app/localstack-desktop
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/web-app/localstack-desktop/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_es/
- **Expected:** /aws/services/es
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/es/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/sdks/javascript/
- **Expected:** /aws/integrations/aws-sdks/net/javascript
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-sdks/net/javascript
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_iam/
- **Expected:** /aws/services/iam
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/iam/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/localsurf/
- **Expected:** /aws/tooling/localsurf
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/localsurf/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/extensions/extensions-library/
- **Expected:** /aws/tooling/extensions/extensions-library
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/extensions/extensions-library/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/ecs-ecr-container-app/
- **Expected:** /aws/tutorials/ecs-ecr-container-app
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/ecs-ecr-container-app/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_elastictranscoder/
- **Expected:** /aws/services/elastictranscoder
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/elastictranscoder/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/feature-coverage/
- **Expected:** /aws/services/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/lambda/
- **Expected:** /aws/services/lambda
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/lambda/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/iam-coverage/
- **Expected:** /aws/capabilities/security-testing/iam-coverage/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/security-testing/iam-coverage/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/transfer/
- **Expected:** /aws/services/transfer
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/transfer/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_batch/
- **Expected:** /aws/services/batch
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/batch/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_neptune/
- **Expected:** /aws/services/neptune
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/neptune/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/temp/
- **Expected:** /aws/sample-apps/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/sample-apps/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/serverless-container-based-apis-with-amazon-ecs-api-gateway/
- **Expected:** https://github.com/localstack-samples/serverless-api-ecs-apigateway-sample
- **Final URL:** https://github.com/localstack-samples/serverless-api-ecs-apigateway-sample
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/s3/
- **Expected:** /aws/services/s3
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/s3/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/lambda-tools/vscode-extension/
- **Expected:** /aws/tooling/lambda-tools/vscode-extension
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/lambda-tools/vscode-extension/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/chaos-engineering/
- **Expected:** /aws/capabilities/chaos-engineering/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/chaos-engineering/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /persistence/supported/
- **Expected:** /aws/capabilities/state-management/persistence-coverage
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/state-management/persistence-coverage/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/ce/
- **Expected:** /aws/services/ce
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ce/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/kinesisanalyticsv2/
- **Expected:** /aws/services/kinesisanalyticsv2
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/kinesisanalyticsv2
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/state-management/cloud-pods/
- **Expected:** /aws/capabilities/state-management/cloud-pods
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/state-management/cloud-pods/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_transcribe/
- **Expected:** /aws/services/transcribe
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/transcribe/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_mediastore-data/
- **Expected:** /aws/services/mediastore
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/mediastore/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/route53/
- **Expected:** /aws/services/route53
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/route53/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/config/
- **Expected:** /aws/services/config
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/config/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_identitystore/
- **Expected:** /aws/services/identitystore
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/identitystore/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_codedeploy/
- **Expected:** /aws/services/codedeploy
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/codedeploy/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/msk/
- **Expected:** /aws/services/msk
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/msk/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/state-management/
- **Expected:** /aws/capabilities/state-management/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/state-management/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/copilot/
- **Expected:** /aws/integrations/aws-native-tools/aws-copilot-cli/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-native-tools/aws-copilot-cli/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/eksctl/
- **Expected:** /aws/integrations/containers/eksctl/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/containers/eksctl/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /getting-started/faq/
- **Expected:** /aws/getting-started/faq
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/getting-started/faq/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/elb/
- **Expected:** /aws/services/elb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/elb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/kubernetes/
- **Expected:** /aws/integrations/containers/kubernetes/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/containers/kubernetes/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/lakeformation/
- **Expected:** /aws/services/lakeformation
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/lakeformation/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_firehose/
- **Expected:** /aws/services/firehose
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/firehose/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/verifiedpermissions/
- **Expected:** /aws/services/verifiedpermissions
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/verifiedpermissions/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_kinesisanalytics/
- **Expected:** /aws/services/kinesisanalytics
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/kinesisanalytics/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/sns/
- **Expected:** /aws/services/sns
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/sns/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/aws-replicator/
- **Expected:** /aws/tooling/aws-replicator
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/aws-replicator/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/serverless-framework/
- **Expected:** /aws/integrations/app-frameworks/serverless-framework
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/app-frameworks/serverless-framework/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_sqs/
- **Expected:** /aws/services/sqs
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/sqs/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/appsync/
- **Expected:** /aws/services/appsync
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/appsync/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/schema-evolution-glue-msk/
- **Expected:** /aws/tutorials/schema-evolution-glue-msk
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/schema-evolution-glue-msk/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/ci/bitbucket/
- **Expected:** /aws/integrations/continuous-integration/bitbucket
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/continuous-integration/bitbucket/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/scheduler/
- **Expected:** /aws/services/scheduler
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/scheduler/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/quarkus/
- **Expected:** /aws/integrations/app-frameworks/quarkus
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/app-frameworks/quarkus/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/servicediscovery/
- **Expected:** /aws/services/servicediscovery
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/servicediscovery/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-101/
- **Expected:** https://youtube.com/playlist?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&si=rKhzdxOJsfO_pgyk
- **Final URL:** https://www.youtube.com/playlist?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&si=rKhzdxOJsfO_pgyk
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtube.com/playlist?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&si=rKhzdxOJsfO_pgyk, Got: https://www.youtube.com/playlist?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&si=rKhzdxOJsfO_pgyk

### ✅ AWS: /user-guide/aws/xray/
- **Expected:** /aws/services/xray
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/xray/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/pca/
- **Expected:** /aws/services/pca
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/pca/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/waf/
- **Expected:** /aws/services/waf
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/waf/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /applications/event-driven-architecture-with-amazon-sns-fifo-dynamodb-lambda-and-s3/
- **Expected:** https://github.com/localstack-samples/event-driven-architecture-with-amazon-sns-fifo
- **Final URL:** https://github.com/localstack-samples/sample-sam-sns-fifo-dynamodb-lambda
- **Status Code:** 200
- **Message:** ❌ Expected: https://github.com/localstack-samples/event-driven-architecture-with-amazon-sns-fifo, Got: https://github.com/localstack-samples/sample-sam-sns-fifo-dynamodb-lambda

### ✅ AWS: /user-guide/aws/apigateway/
- **Expected:** /aws/services/apigateway
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/apigateway/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/cloud-custodian/
- **Expected:** /aws/integrations/infrastructure-as-code/cloud-custodian/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/infrastructure-as-code/cloud-custodian/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_lambda/
- **Expected:** /aws/services/lambda
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/lambda/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/sdks/java/
- **Expected:** /aws/integrations/aws-sdks/net/java
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-sdks/net/java
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_logs/
- **Expected:** /aws/services/logs
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/logs
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_mediastore/
- **Expected:** /aws/services/mediastore
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/mediastore/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/kafka/
- **Expected:** /aws/integrations/messaging/selfmanaged-kafka-cluster/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/messaging/selfmanaged-kafka-cluster/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/chaos-engineering/fault-injection-service/
- **Expected:** /aws/capabilities/chaos-engineering/fault-injection-service
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/chaos-engineering/fault-injection-service
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/logging/
- **Expected:** /aws/capabilities/config/logging
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/logging/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/java-notification-app/
- **Expected:** /aws/tutorials/java-notification-app
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/java-notification-app/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/serverless-transcription-application-using-transcribe-s3-lambda-sqs-and-ses/
- **Expected:** https://github.com/localstack-samples/sample-transcribe-app
- **Final URL:** https://github.com/localstack-samples/sample-transcribe-app
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/route53resolver/
- **Expected:** /aws/services/route53resolver
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/route53resolver/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_wafv2/
- **Expected:** /aws/services/waf
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/waf/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/sdks/cpp/
- **Expected:** /aws/integrations/aws-sdks/net/cpp
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-sdks/net/cpp
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/testcontainers/
- **Expected:** /aws/integrations/testing/testcontainers
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/testing/testcontainers/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/internal-endpoints/
- **Expected:** /aws/capabilities/networking/internal-endpoints
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/networking/internal-endpoints/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/iotanalytics/
- **Expected:** /aws/services/iotanalytics
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/iotanalytics/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/lambda-ecr-container-images/
- **Expected:** /aws/tutorials/lambda-ecr-container-images
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/lambda-ecr-container-images/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/fis/
- **Expected:** /aws/services/fis
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/fis/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/localstack-docker-extension/
- **Expected:** /aws/tooling/localstack-docker-extension/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/localstack-docker-extension/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/cloudformation/
- **Expected:** /aws/services/cloudformation
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cloudformation/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/route-53-failover/
- **Expected:** /aws/tutorials/route-53-failover
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/route-53-failover/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/web-application/resource-browser/
- **Expected:** /aws/capabilities/web-app/resource-browser
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/web-app/resource-browser/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /applications/loan-broker-application-with-aws-step-functions-dynamodb-lambda-sqs-and-sns/
- **Expected:** https://github.com/localstack-samples/loan-broker-stepfunctions-lambda-app
- **Final URL:** https://github.com/localstack-samples/sample-loan-broker-stepfunctions-lambda
- **Status Code:** 200
- **Message:** ❌ Expected: https://github.com/localstack-samples/loan-broker-stepfunctions-lambda-app, Got: https://github.com/localstack-samples/sample-loan-broker-stepfunctions-lambda

### ✅ AWS: /references/coverage/coverage_resource-groups/
- **Expected:** /aws/services/resourcegroups
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/resourcegroups/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/state-management/support/
- **Expected:** /aws/capabilities/state-management/persistence-coverage
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/state-management/persistence-coverage/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_redshift/
- **Expected:** /aws/services/redshift
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/redshift/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/lambdatest-hyperexecute/
- **Expected:** /aws/integrations/testing/lambdatest-hyperexecute/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/testing/lambdatest-hyperexecute/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/
- **Expected:** /aws/sample-apps/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/sample-apps/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/web-application/users-and-licenses/
- **Expected:** /aws/capabilities/web-app/users-and-licenses
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/web-app/users-and-licenses
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/localstack-sdk/
- **Expected:** /aws/tooling/localstack-sdks/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/localstack-sdks/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_apigatewaymanagementapi/
- **Expected:** /aws/services/apigateway
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/apigateway/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_transfer/
- **Expected:** /aws/services/transfer
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/transfer/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/athena/
- **Expected:** /aws/services/athena
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/athena/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/extensions/official-extensions/
- **Expected:** /aws/tooling/extensions/official-extensions
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/extensions/official-extensions
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/textract/
- **Expected:** /aws/services/textract
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/textract/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/iam-policy-stream/
- **Expected:** /aws/tutorials/iam-policy-stream
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/iam-policy-stream/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_ses/
- **Expected:** /aws/services/ses
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ses/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/gitlab_ci_testcontainers/
- **Expected:** /aws/tutorials/gitlab-ci-testcontainers
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/gitlab-ci-testcontainers/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/aws-sam/
- **Expected:** /aws/integrations/aws-native-tools/aws-sam
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-native-tools/aws-sam/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/firehose/
- **Expected:** /aws/services/firehose
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/firehose/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/web-application/
- **Expected:** /aws/capabilities/web-app/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/web-app/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_sagemaker/
- **Expected:** /aws/services/sagemaker
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/sagemaker/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/arm64-support/
- **Expected:** /aws/capabilities/config/arm64-support/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/arm64-support/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/shield/
- **Expected:** /aws/services/shield
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/shield/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/terraform/
- **Expected:** /aws/integrations/infrastructure-as-code/terraform
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/infrastructure-as-code/terraform/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/es/
- **Expected:** /aws/services/es
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/es/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_dms/
- **Expected:** /aws/services/dms
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/dms/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/extensions/developing-extensions/
- **Expected:** /aws/tooling/extensions/developing-extensions
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/extensions/developing-extensions/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/security-testing/explainable-iam/
- **Expected:** /aws/capabilities/security-testing/explainable-iam
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/security-testing/explainable-iam/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/ram/
- **Expected:** /aws/services/ram
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ram/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_ssm/
- **Expected:** /aws/services/ssm
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ssm/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/network-troubleshooting/created-resources/
- **Expected:** /aws/capabilities/networking/created-resources
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/networking/created-resources
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/swf/
- **Expected:** /aws/services/swf
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/swf/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/ci/github-actions/
- **Expected:** /aws/integrations/continuous-integration/github-actions
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/continuous-integration/github-actions/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/serverlessrepo/
- **Expected:** /aws/services/serverlessrepo
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/serverlessrepo/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/sqs/
- **Expected:** /aws/services/sqs
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/sqs/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_ram/
- **Expected:** /aws/services/ram
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ram/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/secretsmanager/
- **Expected:** /aws/services/secretsmanager
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/secretsmanager/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/web-application/stack-insights/
- **Expected:** /aws/capabilities/web-app/stack-insights
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/web-app/stack-insights/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/autoscaling/
- **Expected:** /aws/services/autoscaling
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/autoscaling/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_opensearch/
- **Expected:** /aws/services/opensearch
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/opensearch/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-101/cloud-pods/
- **Expected:** https://youtu.be/InqTdSvxuag?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=InqTdSvxuag&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/InqTdSvxuag?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=InqTdSvxuag&feature=youtu.be

### ✅ AWS: /references/coverage/coverage_emr-serverless/
- **Expected:** /aws/services/emr
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/emr/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/cloudwatch/
- **Expected:** /aws/services/cloudwatch
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cloudwatch/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/elasticbeanstalk/
- **Expected:** /aws/services/elasticbeanstalk
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/elasticbeanstalk/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_mediaconvert/
- **Expected:** /aws/services/mediaconvert
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/mediaconvert
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/state-management/launchpad/
- **Expected:** /aws/capabilities/state-management/launchpad
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/state-management/launchpad/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/ci/codebuild/
- **Expected:** /aws/integrations/continuous-integration/codebuild
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/continuous-integration/codebuild/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/iotdata/
- **Expected:** /aws/services/iotdata
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/iotdata/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_textract/
- **Expected:** /aws/services/textract
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/textract/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_codebuild/
- **Expected:** /aws/services/codebuild
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/codebuild/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/elastictranscoder/
- **Expected:** /aws/services/elastictranscoder
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/elastictranscoder/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_glacier/
- **Expected:** /aws/services/glacier
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/glacier/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/
- **Expected:** /aws/tooling/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/timestream/
- **Expected:** /aws/services/timestream
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/timestream/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_pinpoint/
- **Expected:** /aws/services/pinpoint
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/pinpoint/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/serverless-rds-proxy-with-api-gateway-lambda-and-aurora-rds/
- **Expected:** https://github.com/localstack-samples-samples/sample-serverless-rds-proxy-demo
- **Final URL:** https://github.com/localstack-samples-samples/sample-serverless-rds-proxy-demo
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-101/why-localstack/
- **Expected:** https://youtu.be/EDGIBpUpYWU?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=EDGIBpUpYWU&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/EDGIBpUpYWU?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=EDGIBpUpYWU&feature=youtu.be

### ✅ AWS: /user-guide/aws/transcribe/
- **Expected:** /aws/services/transcribe
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/transcribe/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_cloudformation/
- **Expected:** /aws/services/cloudformation
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cloudformation/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_apigatewayv2/
- **Expected:** /aws/services/apigateway
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/apigateway/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/kinesis/
- **Expected:** /aws/services/kinesis
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/kinesis/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_bedrock-runtime/
- **Expected:** /aws/services/bedrock
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/bedrock/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_iot-data/
- **Expected:** /aws/services/iotdata
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/iotdata/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/cloud-sandbox/ephemeral-instance/
- **Expected:** /aws/capabilities/cloud-sandbox/ephemeral-instance
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/cloud-sandbox/ephemeral-instance
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_timestream-write/
- **Expected:** /aws/services/timestream
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/timestream/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/pinpoint/
- **Expected:** /aws/services/pinpoint
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/pinpoint/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/cloud-pods-collaborative-debugging/
- **Expected:** /aws/tutorials/cloud-pods-collaborative-debugging
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/cloud-pods-collaborative-debugging/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_emr/
- **Expected:** /aws/services/emr
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/emr/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/iam/
- **Expected:** /aws/services/iam
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/iam/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-deployment/course-overview/
- **Expected:** https://youtu.be/XDIat6laW28?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=XDIat6laW28&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/XDIat6laW28?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=XDIat6laW28&feature=youtu.be

### ✅ AWS: /references/coverage/coverage_codepipeline/
- **Expected:** /aws/services/codepipeline
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/codepipeline/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-deployment/infra-terraform/
- **Expected:** https://youtu.be/lsF3kewOeBU?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=lsF3kewOeBU&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/lsF3kewOeBU?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=lsF3kewOeBU&feature=youtu.be

### ✅ AWS: /references/network-troubleshooting/
- **Expected:** /aws/capabilities/networking/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/networking/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/ci/gitlab-ci/
- **Expected:** /aws/integrations/continuous-integration/gitlab-ci
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/continuous-integration/gitlab-ci/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/kms/
- **Expected:** /aws/services/kms
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/kms/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_stepfunctions/
- **Expected:** /aws/services/stepfunctions
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/stepfunctions/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_sesv2/
- **Expected:** /aws/services/ses
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ses/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_events/
- **Expected:** /aws/services/events
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/events/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_timestream-query/
- **Expected:** /aws/services/timestream
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/timestream/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/network-troubleshooting/endpoint-url/
- **Expected:** /aws/capabilities/networking/endpoint-url
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/networking/endpoint-url
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/ephemeral-application-previews/
- **Expected:** /aws/tutorials/ephemeral-application-previews
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/ephemeral-application-previews/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/web-application/accounts/
- **Expected:** /aws/capabilities/web-app/accounts
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/web-app/accounts/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_appsync/
- **Expected:** /aws/services/appsync
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/appsync/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_ecr/
- **Expected:** /aws/services/ecr
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ecr/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-deployment/
- **Expected:** https://youtube.com/playlist?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&si=R-Ed-JQKOxXP473O
- **Final URL:** https://www.youtube.com/playlist?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&si=R-Ed-JQKOxXP473O
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtube.com/playlist?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&si=R-Ed-JQKOxXP473O, Got: https://www.youtube.com/playlist?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&si=R-Ed-JQKOxXP473O

### ✅ AWS: /references/coverage/coverage_application-autoscaling/
- **Expected:** /aws/services/appautoscaling
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/appautoscaling/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/lambda-tools/debugging/
- **Expected:** /aws/tooling/lambda-tools/debugging
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/lambda-tools/debugging
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/rancher-desktop/
- **Expected:** /aws/integrations/containers/rancher-desktop
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/containers/rancher-desktop/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/sdks/ruby/
- **Expected:** /aws/integrations/aws-sdks/net/ruby
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-sdks/net/ruby
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/mwaa/
- **Expected:** /aws/services/mwaa
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/mwaa/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-deployment/deploy-app-ls/
- **Expected:** https://youtu.be/qIB79b-iw2U?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=qIB79b-iw2U&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/qIB79b-iw2U?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=qIB79b-iw2U&feature=youtu.be

### ✅ AWS: /user-guide/aws/organizations/
- **Expected:** /aws/services/organizations
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/organizations/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-deployment/github-action-ls/
- **Expected:** https://youtu.be/XNh8aSaT9v0?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=XNh8aSaT9v0&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/XNh8aSaT9v0?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=XNh8aSaT9v0&feature=youtu.be

### ✅ AWS: /user-guide/aws/sagemaker/
- **Expected:** /aws/services/sagemaker
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/sagemaker/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/configuration/
- **Expected:** /aws/capabilities/config/configuration
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/configuration/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/chaos-engineering/chaos-api/
- **Expected:** /aws/capabilities/chaos-engineering/chaos-api
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/chaos-engineering/chaos-api/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/glacier/
- **Expected:** /aws/services/glacier
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/glacier/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_qldb-session/
- **Expected:** /aws/services/qldb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/qldb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/pulumi/
- **Expected:** /aws/integrations/infrastructure-as-code/pulumi
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/infrastructure-as-code/pulumi/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/cloudtrail/
- **Expected:** /aws/services/cloudtrail
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cloudtrail/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_s3/
- **Expected:** /aws/services/s3
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/s3/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/emr/
- **Expected:** /aws/services/emr
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/emr/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/dns-server/
- **Expected:** /aws/tooling/dns-server
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/dns-server/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/chaos-engineering/chaos-application-dashboard/
- **Expected:** /aws/capabilities/chaos-engineering/chaos-application-dashboard
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/chaos-engineering/chaos-application-dashboard
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_route53/
- **Expected:** /aws/services/route53
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/route53/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_dynamodbstreams/
- **Expected:** /aws/services/dynamodbstreams
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/dynamodbstreams/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_dynamodb/
- **Expected:** /aws/services/dynamodb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/dynamodb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/ec2/
- **Expected:** /aws/services/ec2
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ec2/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/cloud-sandbox/application-previews/
- **Expected:** /aws/capabilities/cloud-sandbox/application-previews
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/cloud-sandbox/application-previews
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/spring-cloud-function/
- **Expected:** /aws/integrations/app-frameworks/spring-cloud-function
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/app-frameworks/spring-cloud-function/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/multi-account-setups/
- **Expected:** /aws/capabilities/config/multi-account-setups/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/multi-account-setups/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/elementalmediaconvert/
- **Expected:** /aws/services/elementalmediaconvert
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/elementalmediaconvert/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_shield/
- **Expected:** /aws/services/shield
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/shield/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/dynamodb/
- **Expected:** /aws/services/dynamodb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/dynamodb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/event-studio/
- **Expected:** /aws/tooling/event-studio/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/event-studio/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/
- **Expected:** /aws/services/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_acm-pca/
- **Expected:** /aws/services/acm-pca
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/acm-pca
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/opensearch/
- **Expected:** /aws/services/opensearch
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/opensearch/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/neptune/
- **Expected:** /aws/services/neptune
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/neptune/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/codepipeline/
- **Expected:** /aws/services/codepipeline
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/codepipeline/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_docdb/
- **Expected:** /aws/services/docdb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/docdb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_appconfig/
- **Expected:** /aws/services/appconfig
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/appconfig/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_iot/
- **Expected:** /aws/services/iot
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/iot/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /getting-started/installation/
- **Expected:** /aws/getting-started/installation
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/getting-started/installation/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/architect/
- **Expected:** /aws/integrations/app-frameworks/architect/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/app-frameworks/architect/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/gitpod/
- **Expected:** /aws/integrations/containers/gitpod/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/containers/gitpod/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/managedblockchain/
- **Expected:** /aws/services/managedblockchain
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/managedblockchain/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/query-data-in-s3-bucket-with-amazon-athena-glue-catalog-cloudformation/
- **Expected:** https://github.com/localstack-samples/query-data-s3-athena-glue-sample
- **Final URL:** https://github.com/localstack-samples/query-data-s3-athena-glue-sample
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-101/web-app-resource-browser/
- **Expected:** https://youtu.be/SoXtngYp-8k?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=SoXtngYp-8k&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/SoXtngYp-8k?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=SoXtngYp-8k&feature=youtu.be

### ✅ AWS: /user-guide/integrations/
- **Expected:** /aws/integrations/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/codebuild/
- **Expected:** /aws/services/codebuild
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/codebuild/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/ses/
- **Expected:** /aws/services/ses
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ses/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_sagemaker-runtime/
- **Expected:** /aws/services/sagemaker
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/sagemaker/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/messaging-processing-application-with-sqs-dynamodb-and-fargate/
- **Expected:** https://github.com/localstack-samples/sqs-fargate-ddb-cdk-go
- **Final URL:** https://github.com/localstack-samples/sqs-fargate-ddb-cdk-go
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/mq/
- **Expected:** /aws/services/mq
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/mq/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/localstack-enterprise/kubernetes-executor/
- **Expected:** /aws/enterprise/kubernetes-executor
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/enterprise/kubernetes-executor/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/iot/
- **Expected:** /aws/services/iot
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/iot/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/backup/
- **Expected:** /aws/services/backup
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/backup/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_organizations/
- **Expected:** /aws/services/organizations
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/organizations/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/kinesisanalytics/
- **Expected:** /aws/services/kinesisanalytics
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/kinesisanalytics/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/localstack-enterprise/single-sign-on/
- **Expected:** /aws/enterprise/sso
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/enterprise/sso/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/redshift/
- **Expected:** /aws/services/redshift
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/redshift/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_verifiedpermissions/
- **Expected:** /aws/services/verifiedpermissions
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/verifiedpermissions/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-101/full-project-demo/
- **Expected:** https://youtu.be/cQxg3Dnteyc?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=cQxg3Dnteyc&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/cQxg3Dnteyc?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0&v=cQxg3Dnteyc&feature=youtu.be

### ✅ AWS: /applications/full-stack-application-with-aws-lambda-dynamodb-s3-for-shipment-validation/
- **Expected:** https://github.com/localstack-samples/shipment-list-demo
- **Final URL:** https://github.com/localstack-samples/shipment-list-demo
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_iotanalytics/
- **Expected:** /aws/services/iotanalytics
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/iotanalytics/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/chalice/
- **Expected:** /aws/integrations/aws-native-tools/aws-chalice/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-native-tools/aws-chalice/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/security-testing/iam-policy-stream/
- **Expected:** /aws/capabilities/security-testing/iam-policy-stream
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/security-testing/iam-policy-stream/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/security-testing/iam-enforcement/
- **Expected:** /aws/capabilities/security-testing/iam-enforcement
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/security-testing/iam-enforcement
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_route53resolver/
- **Expected:** /aws/services/route53resolver
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/route53resolver/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_config/
- **Expected:** /aws/services/config
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/config/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_account/
- **Expected:** /aws/services/account
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/account/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/web-application/stack-overview/
- **Expected:** /aws/capabilities/web-app/stack-overview
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/web-app/stack-overview/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ❌ AWS: /academy/localstack-deployment/cloud-pods/
- **Expected:** https://youtu.be/ZJP2xfvwR_g?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF
- **Final URL:** https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=ZJP2xfvwR_g&feature=youtu.be
- **Status Code:** 200
- **Message:** ❌ Expected: https://youtu.be/ZJP2xfvwR_g?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF, Got: https://www.youtube.com/watch?list=PLTew28KOwGxPdtdW00WNXZLZnstvRQyTF&v=ZJP2xfvwR_g&feature=youtu.be

### ✅ AWS: /user-guide/aws/appconfig/
- **Expected:** /aws/services/appconfig
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/appconfig/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/cognito/
- **Expected:** /aws/services/cognito
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cognito/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_bedrock/
- **Expected:** /aws/services/bedrock
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/bedrock/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/efs/
- **Expected:** /aws/services/efs
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/efs/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_rds/
- **Expected:** /aws/services/rds
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/rds/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_backup/
- **Expected:** /aws/services/backup
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/backup/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/rds/
- **Expected:** /aws/services/rds
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/rds/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/identitystore/
- **Expected:** /aws/services/identitystore
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/identitystore/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_redshift-data/
- **Expected:** /aws/services/redshift
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/redshift/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/elasticache/
- **Expected:** /aws/services/elasticache
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/elasticache/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/using-terraform-with-testcontainers-and-localstack/
- **Expected:** /aws/tutorials/using-terraform-with-testcontainers-and-localstack
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/using-terraform-with-testcontainers-and-localstack/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_cloudfront/
- **Expected:** /aws/services/cloudfront
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cloudfront/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/localstack-sdk/java/
- **Expected:** /aws/user-guide/tools/localstack-sdk/java
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/user-guide/tools/localstack-sdk/java
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/network-troubleshooting/readme/
- **Expected:** /aws/capabilities/networking/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/networking/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/codecommit/
- **Expected:** /aws/services/codecommit
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/codecommit/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_swf/
- **Expected:** /aws/services/swf
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/swf/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/sdks/go/
- **Expected:** /aws/integrations/aws-sdks/net/go
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-sdks/net/go
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /persistence/
- **Expected:** /aws/capabilities/state-management/persistence/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/state-management/persistence/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/init-hooks/
- **Expected:** /aws/capabilities/config/initialization-hooks/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/initialization-hooks/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_support/
- **Expected:** /aws/services/support
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/support/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/
- **Expected:** /aws/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/qldb/
- **Expected:** /aws/services/qldb
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/qldb/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/simulating-outages/
- **Expected:** /aws/tutorials/simulating-outages
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/simulating-outages/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/acm/
- **Expected:** /aws/services/acm
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/acm/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/sdks/php/
- **Expected:** /aws/integrations/aws-sdks/net/php
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-sdks/net/php
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_sns/
- **Expected:** /aws/services/sns
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/sns/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /getting-started/help-and-support/
- **Expected:** /aws/getting-started/help-support
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/getting-started/help-support/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/amplify/
- **Expected:** /aws/services/amplify
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/amplify/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_lakeformation/
- **Expected:** /aws/services/lakeformation
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/lakeformation/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/integrations/sdks/dotnet/
- **Expected:** /aws/integrations/aws-sdks/net/dotnet
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/integrations/aws-sdks/net/dotnet
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /academy/
- **Expected:** https://www.youtube.com/playlist?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Final URL:** https://www.youtube.com/playlist?list=PLTew28KOwGxPqbkFiW518eeIfiV495bm0
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_cloudwatch/
- **Expected:** /aws/services/cloudwatch
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cloudwatch/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/ecr/
- **Expected:** /aws/services/ecr
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/ecr/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/stepfunctions/
- **Expected:** /aws/services/stepfunctions
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/stepfunctions/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_elasticache/
- **Expected:** /aws/services/elasticache
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/elasticache/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /applications/mnist-handwritten-digit-recognition-model-running-on-a-local-sagemaker-endpoint/
- **Expected:** https://github.com/localstack-samples-samples/sample-mnist-digit-recognition-sagemaker
- **Final URL:** https://github.com/localstack-samples-samples/sample-mnist-digit-recognition-sagemaker
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/state-management/pods-cli/
- **Expected:** /aws/capabilities/state-management/cli-commands
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/state-management/cli-commands/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/dynamodbstreams/
- **Expected:** /aws/services/dynamodbstreams
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/dynamodbstreams/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/ci/
- **Expected:** /aws/user-guide/ci
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/user-guide/ci
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_eks/
- **Expected:** /aws/services/eks
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/eks/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_cognito-idp/
- **Expected:** /aws/services/cognito
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cognito/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/web-application/workspace/
- **Expected:** /aws/capabilities/web-app/workspace
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/web-app/workspace
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/coverage/coverage_cloudcontrol/
- **Expected:** /aws/services/cloudcontrol
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/cloudcontrol
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /tutorials/replicate-aws-resources-localstack-extension/
- **Expected:** /aws/tutorials/replicate-aws-resources-localstack-extension
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tutorials/replicate-aws-resources-localstack-extension/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/tools/localstack-sdk/python/
- **Expected:** /aws/tooling/localstack-sdks/python
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/localstack-sdks/python
- **Status Code:** 404
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/lambda-tools/hot-reloading/
- **Expected:** /aws/tooling/lambda-tools/hot-reloading
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/lambda-tools/hot-reloading/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /getting-started/quickstart/
- **Expected:** /aws/getting-started/quickstart
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/getting-started/quickstart/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /overview/
- **Expected:** /aws/getting-started
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/getting-started/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/aws/glue/
- **Expected:** /aws/services/glue
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/services/glue/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /getting-started/
- **Expected:** /aws/getting-started
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/getting-started/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /user-guide/extensions/managing-extensions/
- **Expected:** /aws/tooling/extensions/managing-extensions
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/tooling/extensions/managing-extensions/
- **Status Code:** 200
- **Message:** ✅ Redirect successful

### ✅ AWS: /references/filesystem/
- **Expected:** /aws/capabilities/config/filesystem/
- **Final URL:** https://redirects.localstack-docs.pages.dev/aws/capabilities/config/filesystem/
- **Status Code:** 200
- **Message:** ✅ Redirect successful
